In [7]:

import pandas as pd
import psycopg2 as psql

from backtesting import Strategy
from backtesting.lib import crossover
from backtesting import Backtest


def SMA(values, n):
    """
    Return simple moving average of `values`, at
    each step taking into account `n` previous values.
    """
    return pd.Series(values).rolling(n).mean()

class SmaCross(Strategy):
    # Define the two MA lags as *class variables*
    # for later optimization
    n1 = 10
    n2 = 20

    def init(self):
        # Precompute the two moving averages
        self.sma1 = self.I(SMA, self.data.Close, self.n1)
        self.sma2 = self.I(SMA, self.data.Close, self.n2)

    def next(self):
        # If sma1 crosses above sma2, close any existing
        # short trades, and buy the asset
        if crossover(self.sma1, self.sma2):
            self.position.close()
            self.buy()

        # Else, if sma1 crosses below sma2, close any existing
        # long trades, and sell the asset
        elif crossover(self.sma2, self.sma1):
            self.position.close()
            self.sell()



if __name__ == '__main__':
    connection = psql.connect(database='okx', user='okx', password='example',
                              host='127.0.0.1', port=5432)
    RENAME_COLS = {'open': 'Open', 'high': 'High', 'low': 'Low', 'close': 'Close', 'volume': 'Volume'}
    df = pd.read_sql("select * from okx_candle_btc_usdt_1m;", connection)\
            .rename(columns=RENAME_COLS)
    df[['Open', 'High', 'Low', 'Close', 'Volume']] = df[['Open', 'High', 'Low', 'Close', 'Volume']] / 1e6
    df.ts = pd.to_datetime(df.ts)
    print(df.head)
    

    bt = Backtest(df, SmaCross, cash=10_000, commission=.002)
    stats = bt.run()
    print(stats)

/tmp/ipykernel_11426/1010499093.py:39: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("select * from okx_candle_btc_usdt_1m;", connection)\

<bound method NDFrame.head of                        ts      Open      High       Low     Close  \
0     2025-07-30 06:17:00  0.118132  0.118154  0.118132  0.118154
1     2025-07-30 06:18:00  0.118154  0.118172  0.118154  0.118172
2     2025-07-30 06:19:00  0.118172  0.118191  0.118172  0.118191
3     2025-07-30 06:20:00  0.118191  0.118204  0.118180  0.118202
4     2025-07-30 06:21:00  0.118202  0.118202  0.118176  0.118177
...                   ...       ...       ...       ...       ...
53989 2025-07-17 18:16:00  0.119271  0.119355  0.119271  0.119350
53990 2025-07-17 18:17:00  0.119350  0.119390  0.119350  0.119373
53991 2025-07-17 18:18:00  0.119374  0.119385  0.119354  0.119354
53992 2025-07-17 18:19:00  0.119354  0.119391  0.119354  0.119390
53993 2025-07-17 18:20:00  0.119390  0.119583  0.119390  0.119572

             Volume        volccy   volccyquote confirm
0      5.880485e-07  6.947054e+04  6.947054e+04       1
1      1.365562e-06  1.613662e+05  1.613662e+05       1
2      1.636606e-06  1.934273e+05  1.934273e+05       1
3      3.641295e-06  4.303637e+05  4.303637e+05       1
4      4.541518e-06  5.367437e+05  5.367437e+05       1
...             ...           ...           ...     ...
53989  1.160506e-06  1.384440e+05  1.384440e+05       1
53990  1.665652e-06  1.988425e+05  1.988425e+05       1
53991  8.376449e-07  9.998765e+04  9.998765e+04       1
53992  6.216069e-07  7.420907e+04  7.420907e+04       1
53993  2.549548e-05  3.046496e+06  3.046496e+06       1

[53994 rows x 9 columns]>

/tmp/ipykernel_11426/1010499093.py:46: UserWarning: Data index is not datetime. Assuming simple periods, but `pd.DateTimeIndex` is advised.
  bt = Backtest(df, SmaCross, cash=10_000, commission=.002)

NameError: name 'SMA' is not defined

           Open      High       Low     Close        Volume
0      0.118132  0.118154  0.118132  0.118154  5.880485e-07
1      0.118154  0.118172  0.118154  0.118172  1.365562e-06
2      0.118172  0.118191  0.118172  0.118191  1.636606e-06
3      0.118191  0.118204  0.118180  0.118202  3.641295e-06
4      0.118202  0.118202  0.118176  0.118177  4.541518e-06
...         ...       ...       ...       ...           ...
53989  0.119271  0.119355  0.119271  0.119350  1.160506e-06
53990  0.119350  0.119390  0.119350  0.119373  1.665652e-06
53991  0.119374  0.119385  0.119354  0.119354  8.376449e-07
53992  0.119354  0.119391  0.119354  0.119390  6.216069e-07
53993  0.119390  0.119583  0.119390  0.119572  2.549548e-05

[53994 rows x 5 columns]